[SWIFTLY]
name = goodgit
apps = ['goodgit', 'utils', 'ssh', 'commit', 'goodgit.utils', 'goodgit.commit', 'goodgit.ssh', 'goodgit.merge', 'goodgit.branch', 'goodgit.publish', 'goodgit.github', 'goodgit.search', 'goodgit.timetravel', 'goodgit.web']

[RUNTIME]
name = python
frameworks = []
object_oriented = False

